<br />
<!-- Footer -->
<footer class="py-5 bg-black">
    <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; HouseHold
        <script>document.write(new Date().getFullYear());</script></p>
    </div>
    <!-- /.container -->
</footer>
